.group{
    border-radius: 5px;
    background-color: #ffffff;
}
.wrap{
    width: 270px;
    padding-right: 7px;
}
.tab{
    border-bottom:1px solid #f0f2f7;
}
.tabTitle{
    padding-left: 20px;
    padding-right: 35px;
    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;
    cursor: pointer;
}
.tabTitle:before{
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #b8bfd3;
    border-left: 2px solid #b8bfd3;
    top: 50%;
    transform: rotate(135deg);
    margin-top: -5px;
    transition: transform .3s;
}
.tabActive .tabTitle:before{
    transform: rotate(225deg);
}
.tabItem{
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #f0f2f7;
    display: none;
    max-height: 280px;
    overflow: auto;
}
.tabActive .tabItem{
    display: block;
}
.applyWrap{
    background-color: #f0f2f7;
    padding: 15px 20px;
}
.filterControl{
    display: block;
    margin: 7px auto;
}