.wrap{
    position: fixed;
    right: 15px;
    top: 15px;
    width: 250px;
    color: #fff;
    padding: 25px;
    background: #f00;
    font-size: 14px;
    transition: all .3s;
}
.hide{
    right: -300px;
}