.wrap{
    position: relative;
}
.suggestion{
    display: none;
}
.search__button{
    appearance: none;
    border:none;
    border-radius: 20px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 50px;
    top: 0;
    bottom: 0;
    background:#343e5c url(/images/search.svg) no-repeat center center;
    cursor: pointer;
    transition: all .3s;
}
.search__button:hover{
    opacity: 0.8;
}
.searchResult{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    z-index: 1;
    padding: 15px 35px 15px 25px;
    border: 1px solid #b8bfd3;
}
.searchResultItem{
    margin: 15px 0;
}
.searchResultHidden{
    display: none;
}
.closeSearchList{
    right: 5px;
    top: 5px;
    font-size: 33px;
    color: #000;
    position: absolute;
    display: block;
    cursor: pointer;
    line-height: 1;
}